<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <p class="form-title">Crea tu evento "Runner"</p>
        <form action="/events/create" method="POST" class="create-event" enctype="multipart/form-data">
          <input id="eventName" type="text" name="eventName" placeholder="Nombre del evento">
          <input id="date" type="date" name="date">
          <input id="description" type="text" name="description" placeholder="Descripción del evento">
          <input id="website" type="text" name="website" placeholder="Sitio web (opcional)">
          <input type="text" name="place" id="place" placeholder="Nombre del lugar"></input>
          <input type="file" name="imgUrl" id="image-events">
          <input id="lat" name="lat" placeholder="Latitude" value="" style="visibility:hidden">
          <input id="log" name="log" placeholder="Longitude" value="" style="visibility:hidden">
          <%- include('../partials/map-home') %>
          <button type="submit" class="btn btn-lg btn-info btn-sm" >Crear Evento</button>
            <br><br>
        </form>
      </div>
    </div>
  </div>
</div>
