<form action="/auth/login" method="POST">
  <div class="field">
    <label for="username">Usuario:</label><br>
    <input type="text" name="username" placeholder="Nombre de usuario">
  </div>
  <br>
  <div class="field">
    <label for="password">Contraseña:</label><br>
    <input type="password" name="password" placeholder="Insertar contraseña">
  </div>
  <% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>
  <br>

  <div id="login">
    <button>Login</button>
  </div>
  <div class="check-login">
    <p class="account-message">
      No tienes una cuenta?
      <a class="click" href="/auth/signup">Crear cuenta</a>
      <a class="click" href="/">Regresar</a>
    </p>
  </div>
</form>
