<form action="/auth/login" method="POST">
  <div class="field">
    <label for="username">Username:</label><br>
    <input type="text" name="username" placeholder="Insert username">
  </div>
  <br>
  <div class="field">
    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="Insert password">
  </div>
  <% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>
  <br>

  <div id="login">
    <button>Login</button>
  </div>
  <div class="check-login">
    <p class="account-message">
      Don't have an account?
      <a class="click" href="/auth/signup">Crate account</a>
    </p>
  </div>
</form>
