<form action="/auth/login" method="POST">
  <div class="field">
    <label for="username">Usuario:</label><br><br>
    <input type="text" name="username">
  </div>
  <br><br>
  <div class="field">
    <label for="password">Password:</label><br><br>
    <input type="password" name="password">
  </div>
  <% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>
  <br>

  <div id="create">
    <input type="submit" value="Entrar">
  </div>
  <div class="check-login">
    <p class="account-message">
      No tienes cuenta?
      <a class="click" href="/auth/signup">Crea cuenta</a>
    </p>
  </div>
</form>
