<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <p class="form-title">Login</p>
        <form action="/auth/login" method="POST" class="login">
          <input type="text" name="username" placeholder="Nombre de usuario">
          <input type="password" name="password" placeholder="Insertar contraseña">
          <input type="submit" value="Login" class="btn btn-success btn-sm" />
          <div class="check-login">
            <p class="account-message">
              No tienes una cuenta?
              <a class="click" href="/auth/signup">Crear cuenta |</a>
              <a class="click" href="/">Regresar</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
