<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <p class="form-title">Signup</p>
        <form action="/auth/signup" method="POST" class="signup">
          <input id="name" type="text" name="name" placeholder="Nombre">
          <input id="username" type="text" name="username" placeholder="Usuario">
          <input id="mail" type="text" name="email" placeholder="E-mail">
          <input id="password" type="password" name="password" placeholder="Contraseña">
          <input id="aboutMe" type="text" name="aboutMe" placeholder="Acerca de ti">
          <input id="city" type="text" name="city" placeholder="Ciudad">
          <br>
          <label type="text" for="objective"></label><br>
          <select type="text" name="objective">
            <option type="text" value="" disabled selected >Seleccionar Objetivo</option>
            <option value="empezar a correr">Empezar a correr</option>
            <option value="10K">10K</option>
            <option value="media maratón">Medio maratón</option>
            <option value="maratón">Maratón</option>
            <option value="trail">Trail</option>
            <option value="correr por diversión">Diversión</option>
          </select>
          <br>
          <input type="file" name="imgUrl">
          <input type="submit" value="Sign up" class="btn btn-lg btn-info btn-sm" />
          <div class="check-signup">
            <p class="account-message">
              Ya tienes una cuenta?
              <a class="click" href="/auth/login">Login |</a>
              <a class="click" href="/">Regresar</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
