<nav>
  <a href="/"><h2> Connecting Runners</h2></a>
  <% if(!user){ %>

    <a class="login" href="/auth/signup">Signup</a> |
    <a class="login" href="/auth/login">Login</a> |
    <a class="login" href="/events/list">Ver Eventos</a> |

  <% }else{ %>

    <p style="color: green"><b>Hola <%= user.username %>!</b></p>
    <a class="profile"href="/profile">Perfil</a> |
    <a class="login"href="/auth/logout">Salir</a> |
    <a class="login" href="/events/create">Crear Eventos</a> |
    <a class="login" href="/events/list">Ver Eventos</a>
  <% } %>
</nav>
