<nav class="nav-bar">
  <div class="horz-center nav-container">
    <div class="floated logo"><a href="/">Connecting Running</a></div>

    <ul class="floated nav-div">
      <li class="rela-inline menu-toggle">•••</li>
    </ul>
    <ul class="floated right nav-div sign-div">
    <% if(!user){ %>
      <li class="rela-inline"><a href="/auth/signup">Sign-Up</a></li>
      <li class="rela-inline"><a href="/auth/login">Sign-In</a></li>
      <% }else{ %>
      <li class="rela-inline"><a href="/events/list">Eventos</a></li>
      <li class="rela-inline"><a href="/profile">Perfil</a></li>
      <li class="rela-inline"><a href="/profile">Salir</a></li>
      <% } %>
    </ul>
    <div class="menu-card">
      <div class="abs-center menu-background"></div>
      <div class="menu-content">
        <ul class="menu-links">
          <li class="rela-block"><a href="/events/list">Ver Eventos</a></li>
          <li class="rela-block"><a href="/events/create">Crear Eventos</a></li>
          <% if(user){ %>
              <li class="rela-block"><a href="/profile">Perfil</a></li>
              <li class="rela-block"><a href="/auth/logout">Salir</a></li>
            <% }else{ %>
          <li class="rela-block"><a href="/auth/signup">Sign-Up</a></li>
          <li class="rela-block"><a href="/auth/login">Sign-In</a></li>
      <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
