<div class="site-wrapper b-w">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">¿Listo para correr?</h1>
        <p class="lead"> Busca con quien correr, no dejes que la flojera y el invierno te ganen! Descubre todo lo que ofrecemos. <br>Obtén mas información a continuación.<br></p>
        <p class="lead"><a class="btn btn-lg btn-info" href="/auth/signup">ÚNETE AHORA</a></p>
        <p class="lead">  ¿Ya eres miembro?  </p>
        <p><a class="iniciar" href="/auth/login">Iniciar sesión</a></p>
      </div>
        <div class="mastfoot">
            <p>© 2017 Camila Maya - Clementina Mata ~ </p>
        </div>
    </div>
</div>
</div>


<div class= "eventos-delahome">
  <br>
  <h3 class="form-title ">Eventos en Madrid:</h3>
  <h4>Crea tus propios eventos!

  <button type="submit" class="btn btn-lg btn-info btn-sm"><a class= "crear-eventos-home" href="/auth/signup"> Crear Evento</a></button></h4>

</div>



<%- include('partials/map-home') %>
