
<br><br><br><br><br>
<section class="home-img">
  <h1></h1>
  <h2>¿Listo para correr?</h2>
  Busca con quien correr, no dejes que la flojera y el invierno te ganen!
  <br>
  Descubre todo lo que ofrecemos. Obtén mas información a continuación.
  <br>
  <a href="/auth/signup"><button>ÚNETE AHORA</button></a>
  <br>
  ¿Ya eres miembro?
  <a href="/auth/signup">Iniciar sesión</a>
</section>

<section>

</section>
<%- include('partials/map-home') %>
