<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connecting Runners</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <h2> Connecting Runners</h2>
      <a class="logo" href="/">Go back home</a>

      <% if(!user){ %>

        <p style="color: red"><b>You need to Login</b></p>
        <br>
        <li><a class="login"href="/auth/signup">Signup</a></li>
        <li><a class="login"href="/auth/login">Login</a></li>

      <% }else{ %>

        <p style="color: green"><b>Hola <%= user.username %>!</b></p>
        <br>
        <a class="login"href="/auth/logout">Logout</a>
      <% } %>
    </nav>
    <br>
    <%- body -%>
  </body>
</html>
