<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connecting Runners</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <nav>
      <h2> Connecting Runners</h2>
      <% if(!user){ %>

        <p style="color: red"><b>You are not logged in</b></p>

        <a class="login"href="/auth/signup">Signup</a>
        <a class="login"href="/auth/login">Login</a>

      <% }else{ %>

        <p style="color: green"><b>Welcome <%= user.name %>!</b></p>
        <a class="profile"href="/profile">Profile</a>
        <a class="login"href="/auth/logout">Logout</a>
      <% } %>
    </nav>
    <br>
    <%- body -%>
  </body>
</html>
