<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Connecting Runners</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/maps.css">
    <link rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/bootstrap/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400|Yellowtail" rel="stylesheet">
    <script src="/dist/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/dist/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/js/profile.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/edit-profile.css">
    <link rel="stylesheet" href="/css/create-event.css">
    <link rel="stylesheet" href="/css/edit-event.css">


  </head>
  <body>
<%- include('partials/nav-bar') %>
<br><br>
    <%- body -%>
  </body>

</html>
