<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Connecting Runners</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/maps.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/dis/css/materialize.min.css"  media="screen,projection"/>
    <script src="/dist/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/dist/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/dist/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/bootstrap/css/bootstrap-theme.min.css">

  </head>
  <body>
    <nav>
      <h2> Connecting Runners</h2>
      <% if(!user){ %>

        <a class="login" href="/auth/signup">Signup</a> |
        <a class="login" href="/auth/login">Login</a> |
        <a class="login" href="/events/list">Ver Eventos</a> |

      <% }else{ %>

        <p style="color: green"><b>Hola <%= user.username %>!</b></p>
        <a class="profile"href="/profile">Perfil</a> |
        <a class="login"href="/auth/logout">Salir</a> |
        <a class="login" href="/events/create">Crear Eventos</a> |
        <a class="login" href="/events/list">Ver Eventos</a>
      <% } %>
    </nav>
    <br>

    <%- body -%>
  </body>

</html>
