body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login{
  color: black;
}

.home-img{
  width: 100%;
  height: 450px;
  background-image: url('../images/madrid-panoramica.jpg');
  background-position: center;
  filter: opacity(.8);
  background-size: auto;
  color: white;
  text-align: center;
  vertical-align: middle;
}
